---
import Layout from '../../layouts/Layout.astro';
import { Smartphone, AppWindow, Server} from 'lucide-react';
---

<Layout title="Jōnin - Grado Superior">
  <main class="container mx-auto flex-grow flex flex-col items-center justify-center px-4 text-center py-16">
    <h1 class="text-5xl font-cinzel text-stone-800 mb-4">Grado Superior</h1>
    <p class="text-xl font-open-sans text-stone-600 mb-12">Elige tu especialización Jōnin.</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-6xl">

      <!-- Card DAW -->
      <div class="bg-[#E2DED7] rounded-xl shadow-lg p-8 text-center transform hover:scale-105 transition-transform duration-300 border-4 border-stone-300 flex flex-col items-center">
        <AppWindow className="w-16 h-16 text-stone-700 mb-4" />
        <h2 class="text-4xl font-cinzel text-stone-800">DAW</h2>
        <h3 class="font-open-sans text-stone-600 mt-2 text-lg">Desarrollo de Aplicaciones Web</h3>
        <p class="mt-4 text-stone-600 flex-grow min-h-[100px]">Domina el arte de construir aplicaciones y servicios en la web</p>
        <div class="mt-6">
        <a href="#" title="En construcción" class="mt-6 inline-block bg-gray-400 text-white py-2 px-8 rounded-md font-poppins-bold text-lg cursor-not-allowed">EXPLORAR</a>
        </div>
      </div>

      <!-- Card DAM -->
      <div class="bg-[#F9F6F1] rounded-xl shadow-lg p-8 text-center transform hover:scale-105 transition-transform duration-300 border-4 border-stone-200 flex flex-col items-center">
        <Smartphone className="w-16 h-16 text-stone-700 mb-4" />
        <h2 class="text-4xl font-cinzel text-stone-800">DAM</h2>
        <h3 class="font-open-sans text-stone-600 mt-2 text-lg">Desarrollo de Aplicaciones Multiplataforma</h3>
        <p class="mt-4 text-stone-600 flex-grow min-h-[100px]">Conviértete en un maestro del desarrollo para cualquier dispositivo</p>
        <div class="mt-6">
        <a href="/dam" class="mt-6 inline-block bg-[#D46A6A] text-white py-2 px-8 rounded-md hover:bg-red-800 transition-colors font-poppins-bold text-lg">EXPLORAR</a>
        </div>
      </div>

      <!-- Card ASIR -->
      <div class="bg-[#BFB9B0] rounded-xl shadow-lg p-8 text-center transform hover:scale-105 transition-transform duration-300 border-4 border-stone-400 flex flex-col items-center">
        <Server className="w-16 h-16 text-stone-700 mb-4" />
        <h2 class="text-4xl font-cinzel text-stone-800">ASIR</h2>
        <h3 class="font-open-sans text-stone-600 mt-2 text-lg">Administración de Sistemas Informáticos en Red</h3>
        <p class="mt-4 text-stone-600 flex-grow min-h-[100px]">Aprende a administrar, proteger y desplegar sistemas de alto nivel</p>
        <div class="mt-6">
        <a href="#" title="En construcción" class="mt-6 inline-block bg-gray-400 text-white py-2 px-8 rounded-md font-poppins-bold text-lg cursor-not-allowed">EXPLORAR</a>
        </div>
      </div>

    </div>
  </main>
</Layout>
