---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Los Archivos ANBU - Inicio">
  <main class="flex-grow flex items-center container mx-auto px-6">
    <div class="max-w-lg">
            <h1 class="text-6xl font-kaushan" transition:name="main-title">
        El conocimiento sellado en pergaminos
      </h1>
      <p class="mt-4 text-lg font-open-sans">
        Apuntes organizados como archivos ANBU, listos para ayudarte a
        dominar cada asignatura.
      </p>
      <a
        href="/camino-ninja"
        class="mt-8 inline-block bg-red-700 text-white py-3 px-8 rounded-full hover:bg-red-800 transition-colors duration-300 font-poppins-bold"
      >
        ACCEDER A LOS ARCHIVOS
      </a>
    </div>
  </main>
</Layout>